<template>
    <div>
        <modal id="modalAddProdsToPage" class="extended_modal" :is-open="this.$root.modalIds.modalAddProdsToPage">
            <h3 slot="header">Добавление продуктов</h3>
            <div slot="body">
                <datagrid-plus :src="`${siteUrl}/admin/lookbook/items-data-grid/${pageId}/add`" type="lookBookPages" :showConfirmModal="showConfirmModal"></datagrid-plus>
            </div>
        </modal>

        <modal id="confirmModal" :is-open="this.$root.modalIds.confirmModal" :isSecond="confirmModalIsSecond">
            <h3 slot="header">{{ confirmModalText }}</h3>
            <div slot="body">
                <div class="btn btn-sm btn-primary" @click="submitForm()">Ок</div>
                <div class="btn btn-sm btn-primary" @click="closeModal('confirmModal')">Отмена</div>
            </div>
        </modal>

        <div class="btn btn-primary btn-lg mb-15" @click="addPage">Добавить страницу</div>
        <draggable
            tag="ul"
            :list="components"
            class="list-group"
            handle=".handle"
            v-bind="dragOptions"
            ghost-class="ghost"
            @change="dropItem"
        >
            <accordian :title="`Страница лукбука ${item.id}`" :active="false" :key="item.id" v-for="item in components">
                <template slot="header">
                    Страница лукбука {{ item.sort }} <img class="look-book-page-mini-img" v-if="item.image" :src="`${siteUrl}/storage/${item.image}`" alt="">
                    <span class="icon list-icon handle"></span>
                    <span @click="deleteLookBookPage(item.id)" class="icon trash-icon"></span>
                </template>
                <div slot="body">
                    <div class="look-book-page-wrap">
                        <div class="left">
                            <div class="btn btn-primary btn-lg" @click="showModal('modalAddProdsToPage', item.id)">Добавить продукты</div>
                            <component
                                :is="item.component"
                                :src="item.src"
                                :key="item.key"
                                type="lookBookPages"
                                :showConfirmModal="showConfirmModal"
                            />
                        </div>
                        <div class="right">
                            <div class="control-group">
                                <image-wrapper
                                    v-if="item.image"
                                    :button-label="'Добавить'"
                                    input-name="image"
                                    :multiple="false"
                                    :src="`${siteUrl}/admin/lookbook/pages/upload-image/${item.id}`"
                                    :images="siteUrl + '/storage/' + item.image"
                                >
                                </image-wrapper>
                                <image-wrapper
                                    v-else
                                    :button-label="'Добавить'"
                                    input-name="image"
                                    :multiple="false"
                                    :src="`${siteUrl}/admin/lookbook/pages/upload-image/${item.id}`"
                                >
                                </image-wrapper>
                            </div>
                        </div>
                    </div>

                </div>
            </accordian>
        </draggable>
    </div>
</template>

<script>
export default {
    props: ['url', 'pages', 'lbid'],
    mounted() {
        this.updateComponents();
    },
    data: function () {
        return {
            components: [],
            dragging: false,
            siteUrl: window.location.origin,
            pageId: null,
            confirmModalFunction: null,
            confirmModalText: 'Вы действительно хотите совершить действие?',
            confirmModalAction: null,
            confirmModalIsSecond: false,
        }
    },
    computed: {
        dragOptions() {
            return {
                animation: 200,
                group: "description",
                disabled: false,
                ghostClass: "ghost",
                activeForm: null,
            };
        },
    },
    methods: {
        deleteLookBookPage(pageId) {
            let self = this;
            axios
                .post(`/admin/lookbook/pages/delete`, {pageId})
                .then(function (response) {
                    self.deleteLookBookPageById(pageId);
                    window.flashMessages = [{'type': 'alert-success', 'message': response.data.message }];
                    self.$root.addFlashMessages();
                }).catch(function (error) {
                window.flashMessages = [{'type': 'alert-error', 'message': error.response.data.message }];
                self.$root.addFlashMessages();
            });
        },

        deleteLookBookPageById(pageId) {
            let currentComponentIndex = this.components.findIndex(k => k.id==pageId);
            this.components.splice(currentComponentIndex, 1);
        },

        updateGrid($pageId) {
            let currentComponent = this.components.find(k => k.id==$pageId);
            currentComponent.key = currentComponent.key + 1;
        },

        submitForm() {
            let self = this;
            let formData = $(this.activeForm).serialize();
            axios
                .post(self.confirmModalAction, formData)
                .then(function (response) {
                    window.flashMessages = [{'type': 'alert-success', 'message': response.data.message }];
                    self.$root.addFlashMessages();
                    self.closeModal('confirmModal');
                    self.closeModal('modalAddProdsToPage');
                    self.updateGrid(response.data.pageId);
                });
        },

        closeModal(id) {
            this.$root.$set(this.$root.modalIds, id, false);
        },

        showConfirmModal(event, text, action, is_second) {
            this.activeForm = $(event.target).closest("form");
            this.confirmModalText = text;
            this.confirmModalAction = action;
            this.confirmModalIsSecond = is_second;
            this.$root.showModal('confirmModal');
        },

        showModal(modalId, pageId) {
            this.$root.showModal(modalId);
            this.pageId = pageId;
        },

        dropItem() {
            let self = this;
            let count = 1;
            let pages = [];
            for (let value of this.components) {
                if (value.id) {
                    pages.push({'index': count, 'page_id': value.id});
                    value.sort = count;
                    count = count + 1;
                }
            }

            axios
                .post(`/admin/lookbook/pages/sort`, pages)
                .then(function (response) {
                    window.flashMessages = [{'type': 'alert-success', 'message': response.data.message }];
                    self.$root.addFlashMessages();
                }).catch(function (error) {
                window.flashMessages = [{'type': 'alert-error', 'message': error.response.data.message }];
                self.$root.addFlashMessages();
            });
        },
        updateComponents() {
            let self = this;
            this.pages.forEach(function callback(currentValue, index, array) {
                self.components.push({id: currentValue.id, component: 'datagrid-plus', src: `${self.url}/admin/lookbook/items-data-grid/${currentValue.id}`, sort: currentValue.sort, key: 0, image: currentValue.image})
            });
        },
        addPage() {
            let self = this;
            axios
                .post(`/admin/lookbook/add-new-page/${this.lbid}`)
                .then(function (response) {
                    self.components.push({id: response.data.pageId, component: 'datagrid-plus', src: `${self.url}/admin/lookbook/items-data-grid/${response.data.pageId}`, sort: response.data.sort, key: 0, image: null})
                    window.flashMessages = [{'type': 'alert-success', 'message': response.data.message }];
                    self.$root.addFlashMessages();
                }).catch(function (error) {
                window.flashMessages = [{'type': 'alert-error', 'message': error.response.data.message }];
                self.$root.addFlashMessages();
            });
        },
    },
}
</script>

<style scoped>
.button {
    margin-top: 35px;
}
.handle {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}
.close {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}
input {
    display: inline-block;
    width: 50%;
}
.text {
    margin: 20px;
}
.handle:hover {
    cursor: grab;
}
.ghost {
    opacity: 0;
}

.look-book-page-mini-img{
    display: inline-block;
    max-height: 20px;
    vertical-align: middle;
}

.look-book-page-wrap .left{
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: top;
}
.look-book-page-wrap .right{
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-top: 47px;
}

</style>