// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

// Variables
@import "colors";
@import "variables";
@import "mixins";

@import "partials/dark";
@import "partials/default";
@import "partials/mobile";

@import "partials/dashboard";
@import "partials/configuration";
@import "partials/sales";
@import "partials/rtl";

@import "partials/ui/components";

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.do-not-cross-arrow {
    width: 85%;
}

.linked-product-filter-tag {
    text-transform: capitalize;
    margin-top: 10px;
    margin-right: 0px;
    justify-content: flex-start;
    height: 100%;
}

.linked-product-wrapper {
    margin-left: 0px !important;
    margin-right: 10px !important;
    height: 100% !important;
}

.do-not-cross-linked-product-arrow {
    width: 95%;
}

.modal-container.extended_modal{
    min-width: 1110px;
    margin-left: -555px;
}

.modal-container.second_modal{
    top: 50px;
}

.control-group.full-width{
    width: 100%;
}

.dropdown-dots-wrap{
    position: absolute;
    right: 10px;
    top: 10px;
    .dropdown-dots{
        color: #fff;
        width: 20px;
        background: #00000075;
        text-align: center;
        line-height: 13px;
        height: 20px;
    }
    .dropdown-list{
        width: 200px;
        left: -180px;
        top: 27px;
        ul li{
            padding: 10px 0;
            &:hover{
                cursor: pointer;
                opacity: 0.6;
            }
            div.delete{
                color: red;
            }
            .icon.completed-icon{
                float: right;
                height: 22px;
                top: -7px;
                position: relative;
            }
        }
    }
}