<template>
    <component
        :is="currentComponent"
        v-bind="$attrs"
    />
</template>
<script>
import Default from "./datagrid-plus";
// import OrderProducts from "./datagrid-plus-order-products";
import LinkedProducts from "./datagrid-plus-linked";
import LinkedProductsAdd from "./datagrid-plus-linked-add";
import AddViewDrag from "./datagrid-add-view-drag";

export default {
    name: 'DatagridPlusFactory',
    props: ['type'],
    computed: {
        currentComponent(){
            if (!this.type) {
                return Default;
            }else{
                switch (this.type) {
                    // case "orderProducts":
                    //     return OrderProducts;
                    //     break;
                    case "linkedProducts":
                        return LinkedProducts;
                        break;
                    case "linkedProductsAdd":
                        return LinkedProductsAdd;
                        break;
                    case "lookBookPages":
                        return AddViewDrag;
                        break;
                    default:
                        return Default;
                }
            }
        }
    },
    components: {
        Default,
    }
};
</script>