<template>
    <component
        :is="currentComponent"
        v-bind="$attrs"
    />
</template>
<script>
import ProductVariants from "./product-variants";

export default {
    name: 'ChildFactory',
    props: ['type'],
    computed: {
        currentComponent(){
            if (!this.type) {
                return Default;
            }else{
                switch (this.type) {
                    case "product-variants":
                        return ProductVariants;
                        break;
                }
            }
        }
    },
    components: {

    }
};
</script>