<template>
    <tr class="box">
        <td></td>
        <td></td>
        <td></td>
        <td>{{ child.size }} размер</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ child.quantity }} шт.</td>
        <td>{{ child.price }} ₽</td>
        <td></td>
        <td></td>
    </tr>
</template>

<script>

export default {
    name: 'ProductVariants',
    props: ['child'],
    computed: {

    },
    components: {

    }
};
</script>